.header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.right {
  display: flex;
  gap: 32px;
}

.left {
  display: flex;
  gap: 32px
}

.logo {
  width: 100px;
  height: 46px;
  img {
    width: 100%;
    height: 100%;
  }
}

.me {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}