spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    host: localhost
    port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG


jwt:
  secret: my-super-secret-key-my-super-secret-key-1234567890abcdef
  expiration: 3600000   # 1小时，单位毫秒