server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/pethome?useSSL=false&serverTimezone=UTC
    username: root
    password: root

admin:
  username: admin
  password: admin123
  email: admin@example.com
  phone: 13800000000
